<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Dashboard </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Cajas </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Detalle Pago </a>
                
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
        <div class="kt-subheader__toolbar" id="botones-barra">
            <kt-custom-subheader></kt-custom-subheader>

        </div>
    </div>
</div>

<!-- end:: Subheader -->





<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-sheet"></i>
                        </span>
                        <h2 class="kt-portlet__head-title kt-font-brand">
                            Detalle pago
                        </h2>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                            
                            
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        
                        <div class="col-xl-3 col-md-4">

                            <!--begin:: Widgets/Applications/User/Profile1-->
                            <div class="kt-portlet kt-portlet--height-fluid- kt-portlet--skin-solid kt-bg-perfil">
                                <div class="kt-portlet__head  kt-portlet__head--noborder">
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__section">
                                            <h5 class="kt-widget__username">
                                                Caja<br>DRFSY24D<br>
                                                <span class="kt-badge kt-badge--success kt-badge--inline kt-badge--pill">Abierta</span>
                                            </h5>
                                            
                                            
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fit-y">

                                    <!--begin::Widget -->
                                    <div class="kt-widget kt-widget--user-profile-1">
                                        <div class="kt-widget__head">
                                            <div class="kt-widget__media">
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="kt-widget__body">
                                            <div class="kt-widget__content">
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Fecha:</span>
                                                    <span class="kt-widget__data">10-Feb-2021</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Tipo caja:</span>
                                                    <span class="kt-widget__data">Principal</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Sucursal:</span>
                                                    <span class="kt-widget__data">Zona Miraflores</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Cajero:</span>
                                                    <span class="kt-widget__data">Juan Calderon</span>
                                                </div>
                                                
                                            </div>
                                            <div id="caja-pago-data"class="kt-widget__items funcionario">
                                                
                                                <a  class="kt-widget__item kt-widget__item--active">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Datos de la factura
                                                        </span>
                                                    </span>
                                                </a>
                                                
                                                <a  class="kt-widget__item caja-pago-item">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-list-ul"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Items de la factura
                                                        </span>
                                                    </span>
                                                </a>
                                                
                                                <a  class="kt-widget__item caja-pago-registro">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-money-bill-alt"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Registro pago
                                                        </span>
                                                    </span>
                                                </a>
                                                
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!--end::Widget -->
                                </div>
                            </div>

                            <!--end:: Widgets/Applications/User/Profile1-->
                        </div>

                        <!--End:: App Aside-->
                        
                        <div class="col-xl-9 col-md-8">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Datos de la factura</h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            <div class="dropdown dropdown-inline">
                                                <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="flaticon2-paper"></i>Reportes
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="kt-nav">
                                                        <li class="kt-nav__section kt-nav__section--first">
                                                            <span class="kt-nav__section-text">Opciones</span>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-print"></i>
                                                                <span class="kt-nav__link-text">Print</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-copy"></i>
                                                                <span class="kt-nav__link-text">Copy</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                                                <span class="kt-nav__link-text">Excel</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                <span class="kt-nav__link-text">CSV</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                                                <span class="kt-nav__link-text">PDF</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Número de factura</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="nombre_cargo" type="text" value="236" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Número de contrato</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="version_eval" type="text" value="64889352" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Nombre en factura</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="version_eval" type="text" value="Ramirez" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">NIT en factura</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="tiempo_eval" type="number" value="266536" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Monto</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="version_eval" type="text" value="3500" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Moneda</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select  class="form-control" id="nivel_estudios" disabled>
                                                            <option>Bolivianos</option>
                                                            <option>Dólares</option>																					
                                                        </select>

                                                    </div>
                                                </div>
                                                

                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            
                                            <div class="row">
                                                
                                            </div>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--End:: App Content-->
                    </div>

                    <!--End::App-->
                </div>
            </div>
        </div>
    </div>

</div>