<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Dashboard </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Compras </a>
                
                
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
        <div class="kt-subheader__toolbar" id="botones-barra">
            <kt-custom-subheader></kt-custom-subheader>
        </div>
    </div>
</div>

<!-- end:: Subheader -->





<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand fa fa-file-invoice-dollar"></i>
                        </span>
                        <h2 class="kt-portlet__head-title kt-font-brand">
                            Compra
                        </h2>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                            
                            
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-xl-3 col-md-4">

                            <!--begin:: Widgets/Applications/User/Profile1-->
                            <div class="kt-portlet kt-portlet--height-fluid- kt-portlet--skin-solid kt-bg-perfil">
                                <div class="kt-portlet__head  kt-portlet__head--noborder">
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__section">
                                            <h5 class="kt-widget__username">
                                                Compra de sillas<br>
                                                <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">Generado</span>
                                            </h5>
                                            
                                            <span class="kt-widget__title">
                                                Saffiro Informatica Srl
                                            </span>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fit-y">

                                    <!--begin::Widget -->
                                    <div class="kt-widget kt-widget--user-profile-1">
                                        <div class="kt-widget__head">
                                            <div class="kt-widget__media">
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="kt-widget__body">
                                            <div class="kt-widget__content">
                                                
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Fecha de registro:</span>
                                                    <span class="kt-widget__data">5-Jun-2021</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Monto:</span>
                                                    <span class="kt-widget__data">Bs. 12,500</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Solicitud de compra:</span>
                                                    <span class="kt-widget__data">SC-00001</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Orden de compra:</span>
                                                    <span class="kt-widget__data">OC-00034</span>
                                                </div>
                                                
                                            </div>
                                            <div id="menu-compra" class="kt-widget__items funcionario">
                                                <a  class="kt-widget__item solicitud-compra">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Solicitud de compra
                                                        </span>
                                                    </span>
                                                </a>
                                                <a  class="kt-widget__item registro-propuestas">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Registro de propuestas
                                                        </span>
                                                    </span>
                                                </a>
                                                <a  class="kt-widget__item kt-widget__item--active">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Cuadro comparativo
                                                        </span>
                                                    </span>
                                                </a>
                                                
                                                <a  class="kt-widget__item orden-compra">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Orden de compra
                                                        </span>
                                                    </span>
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!--end::Widget -->
                                </div>
                            </div>

                            <!--end:: Widgets/Applications/User/Profile1-->
                        </div>

                        <!--End:: App Aside-->

                        
                        <div class="col-xl-9 col-md-8">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Cuadro comparativo</h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            <div class="dropdown dropdown-inline">
                                                <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="flaticon2-paper"></i>Reportes
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="kt-nav">
                                                        <li class="kt-nav__section kt-nav__section--first">
                                                            <span class="kt-nav__section-text">Opciones</span>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-print"></i>
                                                                <span class="kt-nav__link-text">Print</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-copy"></i>
                                                                <span class="kt-nav__link-text">Copy</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                                                <span class="kt-nav__link-text">Excel</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                <span class="kt-nav__link-text">CSV</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                                                <span class="kt-nav__link-text">PDF</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <style>
                                                    table, th, td {
                                                      border: 1px solid rgb(207, 207, 207);
                                                      text-align: center;
                                                    }
                                                    </style>
                                                <table style="width:100%;">
                                                    <thead>
                                                        <tr>
                                                            <th rowspan="3" width="20%">Detalle</th>
                                                            <th rowspan="3" width="10%">Cantidad por semestre</th>
                                                            <th colspan="6">Proveedores</th>
                                                        </tr>
                                                        <tr>
                                                            <th colspan="2">Empresa 1</th>
                                                            <th colspan="2">Empresa 2</th>
                                                            <th colspan="2">Empresa 3</th>
                                                            
                                                        </tr>
                                                        <tr>
                                                            <th width="10%">cu Bs</th>
                                                            <th width="10%">Total Bs</th>
                                                            <th width="10%">cu Bs</th>
                                                            <th width="10%">Total Bs</th>
                                                            <th width="10%">cu Bs</th>
                                                            <th width="10%">Total Bs</th>
                                                            
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>Folder amarillo t/oficio</td>
                                                            <td>400</td>
                                                            <td>0.80</td>
                                                            <td>320</td>
                                                            <td>0.55</td>
                                                            <td>220</td>
                                                            <td>0.59</td>
                                                            <td>236</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Fastener metálico</td>
                                                            <td>300</td>
                                                            <td>0.20</td>
                                                            <td>60</td>
                                                            <td>0.19</td>
                                                            <td>57</td>
                                                            <td>0.15</td>
                                                            <td>45</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Cinta de embalaje</td>
                                                            <td>19</td>
                                                            <td>8.50</td>
                                                            <td>161.50</td>
                                                            <td>7.5</td>
                                                            <td>142.5</td>
                                                            <td>8.5</td>
                                                            <td>161.5</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Grapas de cobre 24/6</td>
                                                            <td>112</td>
                                                            <td>3.20</td>
                                                            <td>358.40</td>
                                                            <td>2.8</td>
                                                            <td>313.6</td>
                                                            <td>2.8</td>
                                                            <td>313.6</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Pita de amarre</td>
                                                            <td>9</td>
                                                            <td>13.00</td>
                                                            <td>117.00</td>
                                                            <td></td>
                                                            <td>0</td>
                                                            <td></td>
                                                            <td>0</td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td>TOTAL</td>
                                                            <td style="font-weight: 700;">1229.28</td>
                                                            <td>TOTAL</td>
                                                            <td style="font-weight: 700;">1486.61</td>
                                                            <td>TOTAL</td>
                                                            <td style="font-weight: 700;">490.80</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">Tiempo de entrega en días hábiles</td>
                                                            <td colspan="2">24 hrs.</td>
                                                            <td colspan="2">24 hrs.</td>
                                                            <td colspan="2">24 hrs.</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="2">Observaciones</td>
                                                            <td colspan="2">Sólo La Paz</td>
                                                            <td colspan="2">Disponibilidad de entrega en Santa Cruz</td>
                                                            <td colspan="2">Sólo La Paz</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <hr>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Proveedor elegido</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select  class="form-control" id="tipo_moneda" disabled>
                                                            <option>Empresa 1</option>
                                                            <option selected>Empresa 2</option>
                                                            <option>Empresa 3</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            
                                            <div class="row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Encargado de Compras</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <button  type="reset" id="btn-guardar-proceso" class="btn btn-success">Guardar</button>&nbsp;
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--End:: App Content-->
                    </div>

                    <!--End::App-->
                </div>
            </div>
        </div>
    </div>

</div>

<!-- end:: Content -->