<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Dashboard </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Compras </a>
                
                
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
        <div class="kt-subheader__toolbar" id="botones-barra">
            <kt-custom-subheader></kt-custom-subheader>
        </div>
    </div>
</div>

<!-- end:: Subheader -->





<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand fa fa-file-invoice-dollar"></i>
                        </span>
                        <h2 class="kt-portlet__head-title kt-font-brand">
                            Compras
                        </h2>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                            
                            
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-xl-3 col-md-4">

                            <!--begin:: Widgets/Applications/User/Profile1-->
                            <div class="kt-portlet kt-portlet--height-fluid- kt-portlet--skin-solid kt-bg-perfil">
                                <div class="kt-portlet__head  kt-portlet__head--noborder">
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__section">
                                            <h5 class="kt-widget__username">
                                                Compra de sillas para funcionarios<br>
                                                <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">Generado</span>
                                            </h5>
                                            
                                            <span class="kt-widget__title">
                                                Saffiro Informatica Srl
                                            </span>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fit-y">

                                    <!--begin::Widget -->
                                    <div class="kt-widget kt-widget--user-profile-1">
                                        <div class="kt-widget__head">
                                            <div class="kt-widget__media">
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="kt-widget__body">
                                            <div class="kt-widget__content">
                                                
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Fecha de registro:</span>
                                                    <span class="kt-widget__data">5-Jun-2021</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Monto estimado:</span>
                                                    <span class="kt-widget__data">Bs. 12,500</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Solicitud de compra:</span>
                                                    <span class="kt-widget__data">SC-00001</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Orden de compra:</span>
                                                    <span class="kt-widget__data">OC-00034</span>
                                                </div>
                                                
                                            </div>
                                            <div id="menu-compra" class="kt-widget__items funcionario">
                                                <a  class="kt-widget__item solicitud-compra">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Solicitud de compra
                                                        </span>
                                                    </span>
                                                </a>
                                                <a  class="kt-widget__item registro-propuestas">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Registro de propuestas
                                                        </span>
                                                    </span>
                                                </a>
                                                <a  class="kt-widget__item cuadro-comparativo">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Cuadro comparativo
                                                        </span>
                                                    </span>
                                                </a>
                                                
                                                <a  class="kt-widget__item kt-widget__item--active">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Orden de compra
                                                        </span>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <!--end::Widget -->
                                </div>
                            </div>

                            <!--end:: Widgets/Applications/User/Profile1-->
                        </div>

                        <!--End:: App Aside-->

                        
                        <div class="col-xl-9 col-md-8">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Orden de compra</h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            <div class="dropdown dropdown-inline">
                                                <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="flaticon2-paper"></i>Reportes
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="kt-nav">
                                                        <li class="kt-nav__section kt-nav__section--first">
                                                            <span class="kt-nav__section-text">Opciones</span>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-print"></i>
                                                                <span class="kt-nav__link-text">Print</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-copy"></i>
                                                                <span class="kt-nav__link-text">Copy</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                                                <span class="kt-nav__link-text">Excel</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                <span class="kt-nav__link-text">CSV</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                                                <span class="kt-nav__link-text">PDF</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">

                                                <div class="row">
                                                    <div class="col-lg-12 col-xl-12">
                                                        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" data-toggle="tab" href="#kt_tabs_orden" role="tab">Datos de la orden</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link " data-toggle="tab" href="#kt_tabs_pagos" role="tab">Pagos</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link " data-toggle="tab" href="#kt_tabs_contrato" role="tab">Contrato</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link " data-toggle="tab" href="#kt_tabs_items" role="tab">Items</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="kt_tabs_orden" role="tabpanel">

                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Num. documento</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="num_documento" type="text" value="OC-00023" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Num. secuencia</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="num_documento" type="text" value="000005" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Proveedor</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="proveedor" type="text" value="32437656 - Home Office S.R.L." disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Monto compra</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="monto_compra" type="text" value="1229.28" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Num. contrato</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="contrato+proveedor" type="text" value="001234" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Fecha contable</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <div class="input-group date">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="la la-calendar-check-o"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_contable" value="23-Ago-2021" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Fecha entrega</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <div class="input-group date">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="la la-calendar-check-o"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_entrega" value="15-Sep-2021" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        
                                                        <hr>
                                                        <div id="selector-estado" class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Estado orden</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                
                                                                <select class="form-control selectpicker">
                                                                    <option data-content="<span class='badge badge-warning'>Ingresado</span>">Ingresado</option>
                                                                    <option data-content="<span class='badge badge-success'>Aprobado</span>">Aprobado</option>
                                                                    <option data-content="<span class='badge badge-danger'>Rechazado</span>">Rechazado</option>
                                                                </select>
                                                                  
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane " id="kt_tabs_pagos" role="tabpanel">
                                                        
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Monto compra</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="monto_compra" type="text" value="2500.00" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Monto pago</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="monto_pago" type="text" value="" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Porcentaje</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="porcentaje" type="text" value="50%" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Condiciones</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="condiciones" type="text" value="" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Nivel autorización</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="atorizacion" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Forma de pago</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <select  class="form-control" id="forma_pago">
                                                                    <option>Cheque</option>
                                                                    <option>Transferencia</option>
                                                                    <option>Efectivo</option>																					
                                                                </select>

                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label"></label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <button  type="reset" id="btn-aprobar-proceso" class="btn btn-brand">Agregar Pago</button>

                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div id="tabla-compras-pagos"></div>
                                                        
                                                    </div>

                                                    <div class="tab-pane " id="kt_tabs_contrato" role="tabpanel">
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Código de contrato</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="cod_contrato" type="text" value="001234" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Tipo de contrato</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <select  class="form-control" id="tipo_contrato" disabled>
                                                                    <option selected>Contrato de compra</option>
                                                                    <option>Contrato por servicio</option>																					
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Concepto</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="concepto_contrato" type="text" value="Compra de sillas" disabled>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Monto</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="monto_contrato" type="text" value="12,500" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Fecha inicio vigencia</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <div class="input-group date">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="la la-calendar-check-o"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_ini" value="23-Ago-2021" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Fecha fin vigencia</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <div class="input-group date">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="la la-calendar-check-o"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_fin" value="15-Sep-2021" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Estado</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <select  class="form-control" id="estado_contrato" disabled>
                                                                    <option selected>Vigente</option>
                                                                    <option>Vencido</option>
                                                                    <option>Anulado</option>
                                                                    <option>Rescindido</option>																				
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Comentarios adicionales</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <textarea  class="form-control" id="comentarios" rows="4" disabled></textarea>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Versión del contrato</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="version_eval" type="text" value="1.1" disabled>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <h5>Datos proveedor/cliente</h5>
                                                        
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Razón social</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="razon_social" type="text" value="Home Office S.R.L." disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Nombre comercial/Nombre</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="nombre_comercial" type="text" value="Home Office" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Nombre representante legal</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="rep_legal" type="text" value="Juan Pérez" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Teléfono</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="telefono" type="text" value="24683654" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Email</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="razon_social" type="text" value="jperez@home.com" disabled>
                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <h5>Datos de facturación</h5>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Monto de la factura</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="monto_factura" type="text" value="12,500" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Fecha inicio facturación</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <div class="input-group date">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="la la-calendar-check-o"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_ini" value="25-Ago-2021" disabled>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Forma de pago</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <select  class="form-control" id="forma_pago" disabled>
                                                                    <option>Cheque</option>
                                                                    <option selected>Transferencia</option>
                                                                    <option>Efectivo</option>																					
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Garantía</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="garantía" type="text" value="" disabled>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="tab-pane " id="kt_tabs_items" role="tabpanel">
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Item</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <div class="input-group date">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="flaticon2-search-1"></i>
                                                                        </span>
                                                                    </div>
                                                                    <select class="form-control kt-selectpicker" id="item" data-size="5" data-width="350px" data-live-search="true" >
                                                                        <option >Seleccione un item...</option>
                                                                        <option value="100234" >100234 - Detalle de item 1</option>
                                                                        <option value="100236">100236 - Detalle de item 2</option>
                                                                        <option value="100238">100238 - Detalle de item 3</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Código item</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="cod_item" type="text" value="" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Descripción</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="descripcion_item" type="text" value="" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Categoría</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="descripcion" type="text" value="" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Cantidad</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="cantidad" type="number" value="1">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Precio unitario</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="precio_unitario" type="text" value="" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Subtotal</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="subtotal" type="text" value="" disabled>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Centro de costo</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="centro_costo" type="text" value="" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Proyecto</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="proyecto_item" type="text" value="" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label"></label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <button  type="reset" id="btn-aprobar-proceso" class="btn btn-brand">Agregar Item</button>

                                                            </div>
                                                        </div>
                                                        <hr>
                                                        <div id="tabla-compras-items"></div>
                                                        <hr>
                                                        <div class="form-group row">
                                                            <div class="col-lg-6 col-xl-6">
                                                            </div>
                                                            <label class="col-lg-3 col-xl-3 col-form-label">Total solicitud</label>
                                                            <div class="col-lg-3 col-xl-3">
                                                                <h3>5600</h3>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            
                                            <div class="row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Encargado de compras</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <button  type="reset" id="btn-guardar-proceso" class="btn btn-success">Guardar</button>&nbsp;
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--End:: App Content-->
                    </div>

                    <!--End::App-->
                </div>
            </div>
        </div>
    </div>

</div>

<!-- end:: Content -->