<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Dashboard </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Caja chica </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Rendición </a>
                
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
        <div class="kt-subheader__toolbar" id="botones-barra">
            <kt-custom-subheader></kt-custom-subheader>
        </div>
    </div>
</div>

<!-- end:: Subheader -->





<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand fa fa-file-invoice-dollar"></i>
                        </span>
                        <h2 class="kt-portlet__head-title kt-font-brand">
                            Rendición
                        </h2>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                            
                            
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-xl-3 col-md-4">

                            <!--begin:: Widgets/Applications/User/Profile1-->
                            <div class="kt-portlet kt-portlet--height-fluid- kt-portlet--skin-solid kt-bg-perfil">
                                <div class="kt-portlet__head  kt-portlet__head--noborder">
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__section">
                                            <h5 class="kt-widget__username">
                                                123456<br>
                                                <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">Generada</span>
                                            </h5>
                                            
                                            <span class="kt-widget__title">
                                                Saffiro Informatica Srl
                                            </span>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fit-y">

                                    <!--begin::Widget -->
                                    <div class="kt-widget kt-widget--user-profile-1">
                                        <div class="kt-widget__head">
                                            <div class="kt-widget__media">
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="kt-widget__body">
                                            <div class="kt-widget__content">
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Fecha contable:</span>
                                                    <span class="kt-widget__data">3-Feb-2021</span>
                                                </div>
                                                
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Solicitante:</span>
                                                    <span class="kt-widget__data">Ramiro Vargas</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Monto:</span>
                                                    <span class="kt-widget__data">7000</span>
                                                </div>
                                                
                                            </div>
                                            <div id="menu-c" class="kt-widget__items funcionario">
                                                <a  class="kt-widget__item caja-chica-detalle ">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Datos generales
                                                        </span>
                                                    </span>
                                                </a>
                                                <a  class="kt-widget__item solicitud ">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Solicitud de pago
                                                        </span>
                                                    </span>
                                                </a>
                                                <a  class="kt-widget__item rendicion kt-widget__item--active">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Rendición
                                                        </span>
                                                    </span>
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!--end::Widget -->
                                </div>
                            </div>

                            <!--end:: Widgets/Applications/User/Profile1-->
                        </div>

                        <!--End:: App Aside-->

                        
                        <div class="col-xl-9 col-md-8">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Datos de la solicitud de pago</h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            <div class="dropdown dropdown-inline">
                                                <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="flaticon2-paper"></i>Reportes
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="kt-nav">
                                                        <li class="kt-nav__section kt-nav__section--first">
                                                            <span class="kt-nav__section-text">Opciones</span>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-print"></i>
                                                                <span class="kt-nav__link-text">Print</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-copy"></i>
                                                                <span class="kt-nav__link-text">Copy</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                                                <span class="kt-nav__link-text">Excel</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                <span class="kt-nav__link-text">CSV</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                                                <span class="kt-nav__link-text">PDF</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <div class="row">
                                                    <div class="col-lg-12 col-xl-12">
                                                        <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-success" role="tablist">
                                                            <li class="nav-item">
                                                                <a class="nav-link active" data-toggle="tab" href="#kt_tabs_etapa1" role="tab">Datos rendición</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link " data-toggle="tab" href="#kt_tabs_etapa2" role="tab">Detalle rendición</a>
                                                            </li>
                                                            <li class="nav-item">
                                                                <a class="nav-link" data-toggle="tab" href="#kt_tabs_etapa3" role="tab">Nueva transacción</a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                                
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="kt_tabs_etapa1" role="tabpanel">
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Número documento</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="num_documento" type="text" value="" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Número secuencia</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="num_secuencia" type="text" value="" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Fecha contable</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <div class="input-group date">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="la la-calendar-check-o"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_contable" value="" >
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Nombre solicitante</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="nom_solicitante" type="text" value="" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Cargo solicitante</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="cargo_solicitante" type="text" value="" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Nombre nivel aprobación</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="nom_aprobacion" type="text" value="" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Cargo nivel aprobación</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input  class="form-control" id="cargo_aprobacion" type="text" value="" >
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Tipo de pago</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <select  class="form-control" id="tipo_pago">
                                                                    <option>Cheque</option>
                                                                    <option>Transferencia</option>
                                                                    <option>Débito</option>
                                                                </select>

                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Moneda</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <select  class="form-control" id="moneda">
                                                                    <option>Bolivianos</option>
                                                                    <option>Dólares</option>
                                                                </select>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div class="tab-pane " id="kt_tabs_etapa2" role="tabpanel">
                                                        <div id="tabla-caja-chica-rendicion"></div>
                                                    </div>
                                                    <div class="tab-pane " id="kt_tabs_etapa3" role="tabpanel">
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label"></label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <h5>Nuevo item de rendición</h5>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Cantidad</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control" id="cantidad" type="number" value="1">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Tipo documento</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <select class="form-control" id="tipo_doc">
                                                                    <option>Factura</option>
                                                                    <option>Recibo</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Número documento</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control" id="num_doc" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Fecha documento</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <div class="input-group date">
                                                                    <div class="input-group-prepend">
                                                                        <span class="input-group-text">
                                                                            <i class="la la-calendar-check-o"></i>
                                                                        </span>
                                                                    </div>
                                                                    <input type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_doc" value=""/>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Nit</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control" id="nit" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Proveedor</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control" id="proveedor" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Concepto</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control" id="concepto" type="text" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Grupo gasto</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <select class="form-control" id="grupo_gasto">
                                                                    <option>Transporte</option>
                                                                    <option>Refrigerios</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Importe</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control" id="importe" type="number" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Centro de costos</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <select class="form-control" id="centro_costos">
                                                                    <option>Sistemas</option>
                                                                    <option>Finanzas</option>
                                                                    <option>Administración</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Importe base CF</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control" id="importe_base" type="number" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Descuento</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control" id="descuento" type="number" value="0">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Excento</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control" id="excento" type="excento" value="0">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Ice</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control" id="ice" type="number" value="">
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Deducción</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <select class="form-control" id="deduccion">
                                                                    <option>Excento</option>
                                                                    <option>Compra de servicio</option>
                                                                    <option>Compra de bienes</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label class="col-xl-3 col-lg-3 col-form-label">Proyecto</label>
                                                            <div class="col-lg-9 col-xl-6">
                                                                <input class="form-control" id="proyecto" type="text" value="">
                                                            </div>
                                                        </div>
                                                        
                                                    </div>
                                                    


                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            
                                            <div class="row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Encargado caja chica</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <button  type="reset" id="btn-guardar-proceso" class="btn btn-success">Guardar</button>&nbsp;
                                                    
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--End:: App Content-->
                    </div>

                    <!--End::App-->
                </div>
            </div>
        </div>
    </div>

</div>

<!-- end:: Content -->