<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Dashboard </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Productos </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Nuevo Producto </a>
                
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
        <div class="kt-subheader__toolbar" id="botones-barra">
            <kt-custom-subheader></kt-custom-subheader>

        </div>
    </div>
</div>

<!-- end:: Subheader -->





<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand fa fa-file-invoice-dollar"></i>
                        </span>
                        <h2 class="kt-portlet__head-title kt-font-brand">
                            Nuevo Producto
                        </h2>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                            
                            
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        

                        
                        <div class="col-xl-12 col-md-12">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Detalle del producto</h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            <div class="dropdown dropdown-inline">
                                                <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="flaticon2-paper"></i>Reportes
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="kt-nav">
                                                        <li class="kt-nav__section kt-nav__section--first">
                                                            <span class="kt-nav__section-text">Opciones</span>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-print"></i>
                                                                <span class="kt-nav__link-text">Print</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-copy"></i>
                                                                <span class="kt-nav__link-text">Copy</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                                                <span class="kt-nav__link-text">Excel</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                <span class="kt-nav__link-text">CSV</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                                                <span class="kt-nav__link-text">PDF</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Fotografía</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="kt-avatar kt-avatar--outline" id="kt_user_avatar">
                                                            <div class="kt-avatar__holder" style="background-image: url(assets/media/products/jarron1.jpg)"></div>
                                                            <label class="kt-avatar__upload" data-toggle="kt-tooltip" title="" data-original-title="Change avatar">
                                                                <i class="fa fa-pen"></i>
                                                                <input type="file" name="profile_avatar" accept=".png, .jpg, .jpeg">
                                                            </label>
                                                            <span class="kt-avatar__cancel" data-toggle="kt-tooltip" title="" data-original-title="Cancel avatar">
                                                                <i class="fa fa-times"></i>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Código</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="cod_producto" type="text" value="1578" disabled>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Tipo de producto</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select  class="form-control" id="tipo_producto">
                                                            <option>Genérico</option>
                                                            <option>Funerario</option>
                                                            <option>Inventario</option>
                                                            <option>Consumo</option>
                                                            <option>Inhumación</option>																				
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Tipo de uso</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select  class="form-control" id="tipo_uso">
                                                            <option>Producto de venta</option>
                                                            <option>Insumos de producción</option>
                                                            <option>Servicios varios</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Tipo crédito fiscal</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select  class="form-control" id="tipo_credito">
                                                            <option>Con crédito fiscal</option>
                                                            <option>Con crédito fiscal y alquiler</option>
                                                            <option>Con crédito fiscal ciclos</option>
                                                            <option>Sin crédito fiscal</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Nombre de catálogo</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="nom_catalogo" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Rubro</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select  class="form-control" id="tipo_credito">
                                                            <option>Funerario</option>
                                                            <option>Producción</option>
                                                            <option>Lote</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Medida</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select  class="form-control" id="tipo_credito">
                                                            <option>Unidad</option>
                                                            <option>Latas</option>
                                                            <option>Bobinas</option>
                                                            <option>Kilos</option>
                                                            <option>Gramos</option>
                                                            <option>Litros</option>
                                                            <option>Porcentaje</option>
                                                            <option>Toneladas</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Moneda</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select  class="form-control" id="moneda">
                                                            <option>Bs</option>
                                                            <option>Usd</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Valor</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="valor" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Costo</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="costo" type="text" value="">
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Otras configuraciones</label>
                                                    <div class="kt-checkbox-inline">
                                                        <label class="kt-checkbox">
                                                            <input type="checkbox" > Estado
                                                            <span></span>
                                                        </label>
                                                        <br>
                                                        <label class="kt-checkbox">
                                                            <input type="checkbox" > Se vende
                                                            <span></span>
                                                        </label>
                                                        <br>
                                                        <label class="kt-checkbox">
                                                            <input type="checkbox" > Se incluye en contrato
                                                            <span></span>
                                                        </label>
                                                        <br>
                                                        <label class="kt-checkbox">
                                                            <input type="checkbox" > Es accesorio
                                                            <span></span>
                                                        </label>
                                                        <br>
                                                        <label class="kt-checkbox">
                                                            <input type="checkbox" > Kardex
                                                            <span></span>
                                                        </label>
                                                        <br>
                                                        <label class="kt-checkbox">
                                                            <input type="checkbox"> Es facturable
                                                            <span></span>
                                                        </label>
                                                        <br>
                                                        <label class="kt-checkbox">
                                                            <input type="checkbox"> Es paquete
                                                            <span></span>
                                                        </label>
                                                        <br>
                                                        <label class="kt-checkbox">
                                                            <input type="checkbox"> Tiene planimetria
                                                            <span></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Grupo contable</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <select  class="form-control" id="grupo_contable">
                                                            <option>Servicios varios</option>
                                                            <option>Anticipos</option>
                                                            <option>Crédito</option>
                                                            <option>Varios</option>
                                                            <option>Ingresos</option>
                                                            <option>Ventas</option>
                                                            <option>Mora</option>
                                                        </select>

                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Observaciones</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <textarea  class="form-control" id="observaciones" rows="4"></textarea>
                                                    </div>
                                                </div>

                                                

                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            
                                            <div class="row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Control de Pagos</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <button  type="reset" id="btn-guardar-proceso" class="btn btn-success">Guardar</button>&nbsp;
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--End:: App Content-->
                    </div>

                    <!--End::App-->
                </div>
            </div>
        </div>
    </div>

</div>
