<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Dashboard </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Cajas </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Nuevo Pago </a>
                
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
        <div class="kt-subheader__toolbar" id="botones-barra">
            <kt-custom-subheader></kt-custom-subheader>

        </div>
    </div>
</div>

<!-- end:: Subheader -->





<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand flaticon2-sheet"></i>
                        </span>
                        <h2 class="kt-portlet__head-title kt-font-brand">
                            Nuevo pago
                        </h2>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                            
                            
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        
                        <div class="col-xl-12 col-md-12">
                            <div class="kt-portlet kt-bg-perfil">
                                <div class="kt-portlet__body">
                                    <div class="kt-widget kt-widget-perfil kt-widget--user-profile-3">
                                        
                                        <div class="kt-widget__bottom">
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-imac"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Caja</span>
                                                    <span class="kt-widget__value">DRFSY24D</span>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-avatar"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Cajero</span>
                                                    <span class="kt-widget__value">Juan Calderon</span>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-placeholder"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Sucursal</span>
                                                    <span class="kt-widget__value">Miraflores</span>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-exclamation-1"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Tipo de caja</span>
                                                    <span class="kt-widget__value">Principal</span>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-book"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Dosificación</span>
                                                    <span class="kt-widget__value">763794</span>
                                                </div>
                                            </div>
                                            <div class="kt-widget__item">
                                                <div class="kt-widget__icon">
                                                    <i class="flaticon-coins"></i>
                                                </div>
                                                <div class="kt-widget__details">
                                                    <span class="kt-widget__title">Dólar venta</span>
                                                    <span class="kt-widget__value">6.96</span>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--End:: App Aside-->
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-md-6">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Datos de la factura</h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            <div class="dropdown dropdown-inline">
                                                <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="flaticon2-paper"></i>Reportes
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="kt-nav">
                                                        <li class="kt-nav__section kt-nav__section--first">
                                                            <span class="kt-nav__section-text">Opciones</span>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-print"></i>
                                                                <span class="kt-nav__link-text">Print</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-copy"></i>
                                                                <span class="kt-nav__link-text">Copy</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                                                <span class="kt-nav__link-text">Excel</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                <span class="kt-nav__link-text">CSV</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                                                <span class="kt-nav__link-text">PDF</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-2 col-form-label">Contrato</label>
                                            <div class="col-lg-8 col-xl-8">
                                                <div class="input-group date">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="flaticon2-search-1"></i>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="col-lg-2 col-xl-2">
                                                <button  type="reset" id="btn-buscar" class="btn btn-brand">Buscar</button>
                                            </div>
                                        </div>
                                        <div class="form-group row cliente">
                                            <label class="col-xl-2 col-lg-2 col-form-label">Cliente</label>
                                            <div class="col-lg-6 col-xl-6">
                                                <span class="form-control-plaintext kt-font-bolder">Raquel Yujra Aranda</span>
                                            </div>
                                            <div class="col-lg-4 col-xl-4">
                                                <div class="dropdown dropdown-inline">
                                                    <button type="button" class="btn btn-label-brand btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="flaticon2-paper"></i>Ficha cliente
                                                    </button>

                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <ul class="kt-nav">
                                                            <li class="kt-nav__section kt-nav__section--first">
                                                                <span class="kt-nav__section-text">Opciones</span>
                                                            </li>
                                                            <li class="kt-nav__item">
                                                                <a href="#" class="kt-nav__link">
                                                                    <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                    <span class="kt-nav__link-text">Datos 1</span>
                                                                </a>
                                                            </li>
                                                            <li class="kt-nav__item">
                                                                <a href="#" class="kt-nav__link">
                                                                    <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                    <span class="kt-nav__link-text">Datos 2</span>
                                                                </a>
                                                            </li>
                                                            <li class="kt-nav__item">
                                                                <a href="#" class="kt-nav__link">
                                                                    <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                    <span class="kt-nav__link-text">Datos 3</span>
                                                                </a>
                                                            </li>
                                                            <li class="kt-nav__item">
                                                                <a href="#" class="kt-nav__link">
                                                                    <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                    <span class="kt-nav__link-text">Datos 4</span>
                                                                </a>
                                                            </li>
                                                            
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="tabla-detalle-factura"></div>
                                        
                                        <div class="form-group row">
                                            <label class="col-xl-2 col-lg-2 col-form-label">Item</label>
                                            <div id="new-pago"class="col-lg-7 col-xl-7">
                                                <div class="input-group date">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="flaticon2-search-1"></i>
                                                        </span>
                                                    </div>
                                                    <select class="form-control kt-selectpicker" id="item" data-size="5" data-live-search="true" >
                                                        <option >Seleccione un item...</option>
                                                        <option value="100234" >100234 - Detalle de item 1</option>
                                                        <option value="100236">100236 - Detalle de item 2</option>
                                                        <option value="100238">100238 - Detalle de item 3</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-xl-3">
                                                <button  type="reset" id="btn-buscar" class="btn btn-brand">Agregar</button>
                                            </div>
                                        </div>
                                        <hr style="width:100%;">
                                        
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Tipo documento</label>
                                                    <select  class="form-control" id="documento" >
                                                        <option>Recibo</option>
                                                        <option>Factura</option>																					
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Número documento</label>
                                                    <input type="text" class="form-control" value="367" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Nombre factura</label>
                                                    <input type="text" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>NIT factura</label>
                                                    <input type="text" class="form-control" >
                                                </div>
                                            </div>
                                        </div>
                                                
                                    </div>
                                    <div class="kt-portlet__foot kt-align-right">
                                        <h3 class="kt-font-success"><span style="font-size: 70%;;">Total a pagar:&nbsp;&nbsp;</span>Bs. 5,600.00</h3>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-xl-6 col-md-6">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Registrar pago</h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            
                                        </div>
                                    </div>
                                </div>
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">																		
                                                <div id="tabla-pagos-factura"></div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Monto</label>
                                                            <input type="text" class="form-control" >
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Moneda</label>
                                                            <select  class="form-control" id="moneda" >
                                                                <option>Bolivianos</option>
                                                                <option>Dólares</option>																					
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Forma de pago</label>
                                                            <select  class="form-control" id="forma-pago" >
                                                                <option>Efectivo</option>
                                                                <option>Cheque</option>
                                                                <option>Tarjeta de Débito</option>
                                                                <option>Tarjeta de Crédito</option>	
                                                                <option>Giro</option>	
                                                                <option>Débito Automático</option>																				
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Entidad financiera</label>
                                                            <select  class="form-control" id="forma-pago" >
                                                                <option>Banco de Crédito</option>
                                                                <option>Banco Nacional</option>
                                                                <option>Banco Mercantil</option>
                                                                <option>Banco Bisa</option>	
                                                                <option>Banco Económico</option>	
                                                                <option>Banco Fie</option>																				
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Código de transacción</label>
                                                            <input type="text" class="form-control" >
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>Referencia</label>
                                                            <input type="text" class="form-control" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <button  type="reset" id="btn-agregar" class="btn btn-brand">Agregar Pago</button>
                                                    </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__foot kt-align-right">
                                        <h3 class="kt-font-success"><span style="font-size: 70%;;">Pago:&nbsp;&nbsp;</span>Bs. 1,300.00</h3>
                                        <h3 class="kt-font-danger"><span style="font-size: 70%;;">Cambio:&nbsp;&nbsp;</span>Bs. 0.00</h3>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--End:: App Content-->
                    </div>

                    <!--End::App-->
                </div>
                <div class="kt-portlet__foot">
                    <div class="kt-form__actions">
                        
                        <div class="row">
                            <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Control de Pagos</label>
                            <div class="col-lg-9 col-xl-9">
                                <button  type="reset" id="btn-guardar-proceso" class="btn btn-success">Registrar pago y facturar</button>&nbsp;
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>