<!-- begin:: Subheader -->
<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Dashboard </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Pagos </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Proveedores </a>
                
                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
        <div class="kt-subheader__toolbar" id="botones-barra">
            <kt-custom-subheader></kt-custom-subheader>
        </div>
    </div>
</div>

<!-- end:: Subheader -->





<!-- begin:: Content -->
<div id="aux" class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand fa fa-file-invoice-dollar"></i>
                        </span>
                        <h2 class="kt-portlet__head-title kt-font-brand">
                            Pago a proveedores
                        </h2>
                    </div>
                    <div class="kt-portlet__head-toolbar">
                        <div class="kt-portlet__head-actions">
                            
                            
                        </div>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">
                        <div class="col-xl-3 col-md-4">

                            <!--begin:: Widgets/Applications/User/Profile1-->
                            <div class="kt-portlet kt-portlet--height-fluid- kt-portlet--skin-solid kt-bg-perfil">
                                <div class="kt-portlet__head  kt-portlet__head--noborder">
                                    <div class="kt-widget__content">
                                        <div class="kt-widget__section">
                                            <h5 class="kt-widget__username">
                                                OC-165873<br>
                                                <span class="kt-badge kt-badge--warning kt-badge--inline kt-badge--pill">Generado</span>
                                            </h5>
                                            
                                            <span class="kt-widget__title">
                                                Saffiro Informatica Srl
                                            </span>
                                        </div>
                                        
                                        
                                    </div>
                                </div>
                                <div class="kt-portlet__body kt-portlet__body--fit-y">

                                    <!--begin::Widget -->
                                    <div class="kt-widget kt-widget--user-profile-1">
                                        <div class="kt-widget__head">
                                            <div class="kt-widget__media">
                                                
                                            </div>
                                            
                                        </div>
                                        <div class="kt-widget__body">
                                            <div class="kt-widget__content">
                                                
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Fecha de entrega:</span>
                                                    <span class="kt-widget__data">7-Jun-2021</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Monto:</span>
                                                    <span class="kt-widget__data">3400</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Solicitud de pago:</span>
                                                    <span class="kt-widget__data">------</span>
                                                </div>
                                                <div class="kt-widget__info">
                                                    <span class="kt-widget__label">Cuenta por pagar:</span>
                                                    <span class="kt-widget__data">------</span>
                                                </div>
                                                
                                            </div>
                                            <div id="menu-ocp" class="kt-widget__items funcionario">
                                                <a  class="kt-widget__item proveedor-factura">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-table"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Datos generales
                                                        </span>
                                                    </span>
                                                </a>
                                                
                                                <a  class="kt-widget__item solicitud-pago kt-widget__item--active">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-list-ul"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Solicitud de pago
                                                        </span>
                                                    </span>
                                                </a>

                                                <a  class="kt-widget__item cuenta-pagar">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-list-ul"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Cuenta por pagar
                                                        </span>
                                                    </span>
                                                </a>
                                                <a  class="kt-widget__item asignacion-bancaria">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-list-ul"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Asignación bancaria
                                                        </span>
                                                    </span>
                                                </a>
                                                <a  class="kt-widget__item transferencia">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-list-ul"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Generación de transferencia
                                                        </span>
                                                    </span>
                                                </a>
                                                <a  class="kt-widget__item cheque">
                                                    <span class="kt-widget__section">
                                                        <span class="kt-widget__icon">
                                                            <i class="kt-menu__link-icon fa fa-list-ul"></i>
                                                        </span>
                                                        <span class="kt-widget__desc">
                                                            Generación de cheques
                                                        </span>
                                                    </span>
                                                </a>
                                                
                                            </div>
                                        </div>
                                    </div>

                                    <!--end::Widget -->
                                </div>
                            </div>

                            <!--end:: Widgets/Applications/User/Profile1-->
                        </div>

                        <!--End:: App Aside-->

                        
                        <div class="col-xl-9 col-md-8">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Datos solicitud de pago</h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            <div class="dropdown dropdown-inline">
                                                <button type="button" class="btn btn-label-info btn- "md data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="flaticon2-paper"></i>Reportes
                                                </button>

                                                <div class="dropdown-menu dropdown-menu-right">
                                                    <ul class="kt-nav">
                                                        <li class="kt-nav__section kt-nav__section--first">
                                                            <span class="kt-nav__section-text">Opciones</span>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-print"></i>
                                                                <span class="kt-nav__link-text">Print</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-copy"></i>
                                                                <span class="kt-nav__link-text">Copy</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-excel-o"></i>
                                                                <span class="kt-nav__link-text">Excel</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-text-o"></i>
                                                                <span class="kt-nav__link-text">CSV</span>
                                                            </a>
                                                        </li>
                                                        <li class="kt-nav__item">
                                                            <a href="#" class="kt-nav__link">
                                                                <i class="kt-nav__link-icon la la-file-pdf-o"></i>
                                                                <span class="kt-nav__link-text">PDF</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Tipo de pago</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group date">
                                                            
                                                            <select class="form-control kt-selectpicker" id="item" data-size="5" data-width="350px"  >
                                                                <option >Seleccione un tipo de pago...</option>
                                                                <option value="100234" >Pago con factura</option>
                                                                <option value="100236">Anticipo con factura</option>
                                                                <option value="100238">Anticipo sin factura</option>
                                                                <option value="100238">Pago a tercero</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Modalidad de pago</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group date">
                                                            
                                                            <select class="form-control kt-selectpicker" id="modalidad" data-size="5" data-width="350px"  >
                                                                <option >Seleccione una modalidad...</option>
                                                                <option value="100234" >Contado</option>
                                                                <option value="100236">Crédito</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Número de pagos</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="num_pagos" type="text" value="" >
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Presupuesto cuenta</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="cuenta" type="text" value="" >
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Presupuesto disponible</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="presupuesto_disp" type="text" value="" >
                                                    </div>
                                                </div>
                                                <hr>
                                                <h5>Datos Factura/Recibo</h5>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Documento</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group date">
                                                            
                                                            <select class="form-control kt-selectpicker" id="modalidad" data-size="5" data-width="350px"  >
                                                                <option >Seleccione un documento...</option>
                                                                <option value="100234" >Factura</option>
                                                                <option value="100236">Recibo</option>
                                                                
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Fecha factura</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group date">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="la la-calendar-check-o"></i>
                                                                </span>
                                                            </div>
                                                            <input  type="text" class="form-control" placeholder="Seleccione una fecha" id="fecha_factura" value="" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Número de factura</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="num_factura" type="text" value="" >
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Código Ref</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="codigo_ref" type="text" value="" >
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Número de autorización</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="num_autoriz" type="text" value="" >
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Código control</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="cod_control" type="text" value="" >
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Glosa contable</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="glosa" type="text" value="" >
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Medio de pago</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="input-group date">
                                                            
                                                            <select class="form-control kt-selectpicker" id="medio_pago" data-size="5" data-width="350px"  >
                                                                <option >Seleccione un documento...</option>
                                                                <option value="100234" >Cheque</option>
                                                                <option value="100236">Transferencia bancaria</option>
                                                                <option value="100266">Débito automático</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Nombre proyecto</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <input  class="form-control" id="nom_proyecto" type="text" value="" >
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Tipo Proyecto</label>
                                                    <div class="col-lg-9 col-xl-6 kt-radio-inline">
                                                        <label class="kt-radio">
                                                            <input type="radio" name="radio1" > Gasto
                                                            <span></span>
                                                        </label>
                                                        <label class="kt-radio">
                                                            <input type="radio" name="radio1"  > Inversión
                                                            <span></span>
                                                        </label>
                                                        
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-xl-3 col-lg-3 col-form-label">Anexos y respaldos</label>
                                                    <div class="col-lg-9 col-xl-6">
                                                        <div class="dropzone dropzone-default dropzone-success" id="kt_dropzone_dec">
                                                            <div class="dropzone-msg dz-message needsclick">
                                                                <h3 class="dropzone-msg-title">Suelte al archivo aquí o haga click para subir.</h3>
                                                                <span class="dropzone-msg-desc">El archivo debe ser en formato .PDF</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                
                                                
                                                <hr>
                                                
                                                <h5>Items</h5>
                                                <div id="tabla-compras-especiales-items"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">
                                            
                                            <div class="row">
                                                <label class="col-xl-3 col-lg-3 col-form-label" style="text-align: right;">Rol Control de Pagos</label>
                                                <div class="col-lg-9 col-xl-9">
                                                    <button  type="reset" id="btn-guardar-proceso" class="btn btn-success">Guardar</button>&nbsp;
                                                    
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--End:: App Content-->
                    </div>

                    <!--End::App-->
                </div>
            </div>
        </div>
    </div>

</div>

<!-- end:: Content -->