<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">
            </h3>
            <span class="kt-subheader__separator kt-hidden"></span>
            <div class="kt-subheader__breadcrumbs">
                <a href="#" class="kt-subheader__breadcrumbs-home"><i class="flaticon2-shelter"></i></a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Dashboard </a>
                <span class="kt-subheader__breadcrumbs-separator"></span>
                <a href="" class="kt-subheader__breadcrumbs-link">
                    Cajas </a>


                <!-- <span class="kt-subheader__breadcrumbs-link kt-subheader__breadcrumbs-link--active">Active link</span> -->
            </div>
        </div>
        <div class="kt-subheader__toolbar" id="botones-barra">
            <kt-custom-subheader></kt-custom-subheader>

        </div>
    </div>
</div>

<!-- end:: Subheader -->





<!-- begin:: Content -->
<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="row">
        <div class="col-xl-12">
            <!--begin::Portlet-->
            <div class="kt-portlet">
                <div class="kt-portlet__head">
                    <div class="kt-portlet__head-label">
                        <span class="kt-portlet__head-icon">
                            <i class="kt-font-brand fa fa-calculator"></i>
                        </span>
                        <h2 class="kt-portlet__head-title kt-font-brand">
                            Cajas
                        </h2>
                    </div>
                </div>
                <div class="kt-portlet__body">
                    <div class="row">

                        <div class="col-xl-12 col-md-12">
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Cajas abiertas<small></small></h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            <div class="kt-portlet__head-actions">


                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <div class="form-group row">
                                                    <label class="col-form-label">Período:&nbsp;</label>
                                                    <div class="filtro-tabla">
                                                        <select class="form-control">
                                                            <option>Seleccione un período...</option>
                                                            <option value="ci">Octubre 2020</option>
                                                            <option value="lm">Septiembre 2020</option>
                                                            <option value="lm">Agosto 2020</option>
                                                            <option value="lm">Julio 2020</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-form-label">Estado:&nbsp;</label>
                                                    <div class="filtro-tabla">
                                                        <select class="form-control">
                                                            <option>Seleccione un estado...</option>
                                                            <option value="ci">Abiertas</option>
                                                            <option value="lm">Inactivas</option>

                                                        </select>
                                                    </div>
                                                    <button type="button" id="" class="btn btn-info">Filtrar</button>
                                                    <div class="kt-input-icon kt-input-icon--left"
                                                        style="width:auto;margin-left: 50px;">
                                                        <input type="text" class="form-control " placeholder="Buscar..."
                                                            id="generalSearch1">
                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                            <span><i class="la la-search"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div id="tabla-cajas-abiertas"></div>




                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">

                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="kt-portlet">
                                <div class="kt-portlet__head">
                                    <div class="kt-portlet__head-label">
                                        <h3 class="kt-portlet__head-title">Todas las cajas <small></small></h3>
                                    </div>
                                    <div class="kt-portlet__head-toolbar">
                                        <div class="kt-portlet__head-wrapper">
                                            <div class="kt-portlet__head-actions">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <form class="kt-form kt-form--label-right">
                                    <div class="kt-portlet__body">
                                        <div class="kt-section kt-section--first">
                                            <div class="kt-section__body">
                                                <div class="form-group row">
                                                    <label class="col-form-label">Período:&nbsp;</label>
                                                    <div class="filtro-tabla">
                                                        <select class="form-control">
                                                            <option>Seleccione un período...</option>
                                                            <option value="ci">Octubre 2020</option>
                                                            <option value="lm">Septiembre 2020</option>
                                                            <option value="lm">Agosto 2020</option>
                                                            <option value="lm">Julio 2020</option>
                                                        </select>
                                                    </div>
                                                    <label class="col-form-label">Estado:&nbsp;</label>
                                                    <div class="filtro-tabla">
                                                        <select class="form-control">
                                                            <option>Seleccione un estado...</option>
                                                            <option value="ci">Abiertas</option>
                                                            <option value="lm">Cerradas</option>
                                                            <option value="lm">Inactivas</option>
                                                        </select>
                                                    </div>
                                                    <button type="button" id="" class="btn btn-info">Filtrar</button>

                                                    <div class="kt-input-icon kt-input-icon--left"
                                                        style="width:auto;margin-left: 50px;">
                                                        <input type="text" class="form-control " placeholder="Buscar..."
                                                            id="generalSearch2">
                                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                                            <span><i class="la la-search"></i></span>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="form-group row">

                                                </div>
                                                <div id="tabla-todas-cajas"></div>




                                            </div>
                                        </div>
                                    </div>
                                    <div class="kt-portlet__foot">
                                        <div class="kt-form__actions">

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!--End:: App Content-->
                    </div>

                    <!--End::App-->
                </div>
            </div>
        </div>
    </div>
</div>